body {
	background-color: #fff;
	color: #222;
	font: 16px/1.5 sans-serif;
	margin: 0;
}

header {
	background-color: #222;
	color: #fff;
}

header h1 {
	background-color: #00489c;
	margin: 0;
	padding: 0 0.5em;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav a {
	display: block;
	padding: 0.5em 1em;
	color: #fff;
	text-decoration: none;
}

header nav a:active {
	background-color: #fff;
	color: #00489c;
}

main {
	padding: 0 1em;
}

main img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(51,51,51,1);
}

#our-company {
	background: transparent url('../images/about-us-hero.jpg') center center no-repeat;
	background-size: 150%;
	display: block;
	width: 100%;
	min-height: 171.5px;
}

button {
	background-color: #00489c;
	color: #fff;
	border: 1px outset #00489c;
	font-size: 1em;
	padding: .3em .7em;
	margin-right: .5em;
}

.pricing {
	font-size: 0.9em;
}

.pricing s {
	color: #c00;
	font-weight: bold;
}

footer {
	background-color: #222;
	color: #fff;
	padding: 1em;
}

.cf:before, .cf:after,
footer:before, footer:after {
	display: table;
	content: " ";
}

.cf:after,
footer:after {
	clear: both;
}

main li {
	list-style: none;
	line-height: 3em;
}

main ul {
	padding: 0;
	margin: 0;
}



@media all and (min-width: 500px) {

	nav li {
		display: inline-block;
	}

	#our-company {
		min-height: 240px;
		background-size: 140%
	} 
		
}

@media all and (min-width: 610px) {

	main > p:nth-child(1) {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-bottom: 0;
	}

	main > p:nth-child(2) {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-bottom: 0;
	}

	.hot-product p:first-child {
		width: 50%;
		float: left;
		margin-right: 1em;
		margin-top: 0;
	}

	.hot-product {
		clear: both;
	}

	footer {
		clear: both;
	}

	#our-company {
		min-height: 228.6px;
		background-size: 133%;
	}

	.about-text {
		width: 46%;
		margin-left: 2%;
		float: left;
	}

	main .about-text p {
		width: 100%;
	}	

	main .about-text h1 {
		font-size: 1.5em;
	}
}

@media all and (min-width: 700px) {

	header h1 {
		float: left;
	}

	header nav {
		height: 48px;
	}

	header nav a {
		padding: 0 1em;
		line-height: 48px;
	}



	footer {
		clear: both;
	}
}

@media all and (min-width: 790px) {

	.hot-product {
		width: 32%;
		float: left;
		clear: none;
	}		

	main .hot-product:nth-child(2) {
		margin: 0 1.3%;
	}	

	.hot-product p:first-child {
		width: 100%;
	} 

	#hot-this-week-cameras {
		clear: both;
	}	
		
	main:after {
		content: " ";
		display: block;
		clear: both;
	}

	#our-company {
		min-height: 300.5px;
		background-size: 113.3%
	}	
	
	main ul {
		margin-bottom: 1em;
	}

	#main-product {
		clear: both;
	}

	.list-div {
		clear: both;
	}
}

@media all and (min-width: 1260px) {

	header,
	main,
	footer,
	#our-company {
		width: 1260px;
		margin: 0 auto;
	}

	#our-company {
		min-height: 343px;
		background-size: 100%;
	}

}

















